@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url(../public/images/d0f22ba21124dba8fe59dce25575ae67.gif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  
 
 
}


