@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: url(../public/images/a4f6f0781e483fbe9669c35f26eff1fa.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}